{{define "hour_line"}}
    <div id="completedLine{{.Hour}}">
        <p>{{.Hour}}h : {{.Qty}}g</p>
        <button hx-delete="/api/hour/{{.Hour}}" hx-target="#completedLine{{.Hour}}" hx-swap="outerHTML">Supprimer</button>
    </div>
{{end}}