{{define "hour_line"}}
    <div class="completedLine" id="completedLine{{.Hour}}">
        <p>{{.Hour}}h</p>
        <p>{{.Qty}}g</p>
        <button hx-delete="/api/hour/{{.Hour}}" hx-target="#completedLine{{.Hour}}" hx-swap="outerHTML">
            <img src="/dist/delete.svg" alt="supprimer">
        </button>
    </div>
{{end}}